<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.zoio.hackathon.wealthradius.core.mappers.GroupInfoMapper">
  <resultMap id="BaseResultMap" type="info.zoio.hackathon.wealthradius.core.mappers.pojo.GroupInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="sponsor_user_id" jdbcType="INTEGER" property="sponsorUserId" />
    <result column="group_state" jdbcType="VARCHAR" property="groupState" />
    <result column="group_num" jdbcType="INTEGER" property="groupNum" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="pay_date" jdbcType="TIMESTAMP" property="payDate" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
  </resultMap>
</mapper>